<!-- app/templates/segunda-pagina.hbs -->

<div class="main-container">
  <header>
    <h1>Meu Aplicativo</h1>
    <nav>
      <ul>
        <li><LinkTo @route="index">Home</LinkTo></li>
        <li><LinkTo @route="segunda-pagina">Segunda Página</LinkTo></li>
      </ul>
    </nav>
  </header>
  
  <div class="table-container">
    <h2>Tabela de Usuários</h2>
    <table>
      <thead>
        <tr>
          <th>Editar</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Telefone</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model as |usuario|}}
          <tr>
            <td><button {{on "click" (action "editarUsuario" usuario.id_usuario)}}>Editar</button></td>
            <td>{{usuario.nome_usuario}}</td>
            <td>{{usuario.sobrenome_usuario}}</td>
            <td>{{usuario.telefone_usuario}}</td>
            <td><button {{on "click" (action "excluirUsuario" usuario.id_usuario)}}>Excluir</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
